@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+FR+Trad+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-color: #BBC8FE;
}

.card{
    height:250px;
    width:700px;
    background-color: #FEFEFE;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:40px;
    text-align: center;
    box-shadow: 0 10px 0 20px rgba(0 0 0 0.2);
    border-radius:20px;
}

h2{
    display:block;
    font-size: 32px;
    font-family:Playfair Display;
    position:relative;
}

/* span{
    display:inline-block;
    width:60px;
    height:2px;
    background-color: #2C7DE1;
    
} */

h2::after{
    content:"";
    width:75px;
    height:3px;
    border-radius:3px;
    background-color: #327CED;
    position:absolute;
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
}

span{
    display:block;
    margin-top:10px;
    float:right;
    position: relative;

}

span::before{
    content:"";
    height:3px;
    width:25px;
    border-radius:3px;
    position:absolute;
    background-color: #327CED;
    left:-30px;
    top:50%;
}

.btn{
    width:100%;
    margin-top:30px;
    display:flex;
    justify-content: center;
}

.new{
    height:35px;
    width:100px;
    border:none;
    border-radius:20px;
    background-color:#327CED;
    color:white;
    font-family: Playfair Display;
    text-align: center;
    margin:0 10px;
    font-size: 11px;
    cursor:pointer;
}

.tweet{
    height:35px;
    width:100px;
    border-radius:20px;
    font-family: Playfair Display;
    text-align: center;
    margin:0 10px;
    font-size: 11px;
    cursor:pointer;
    position: relative;
}

img{
    height:15px;
    width:15px;
    position: absolute;
    transform:translateX(-20px);
}